project_id  = "bcdevops"
main_region = "europe-west4"
main_zone   = "europe-west4-a"

cluster_name            = "kodr-xyz"
cluster_pool_node_count = 3
cluster_version         = "1.16.13-gke.1"
dns_zone_name           = "kodr-xyz"
domain_name             = "kodr.xyz"


